# MongoDB

Based on https://docs.mongodb.com/getting-started

MongoDB is a **NoSQL** open-source **document database**.  MongoDB provides horizontal scaling by replicating and partitioning the data over multiple nodes. This can improve the reliability and scalability of the system.

A record in MongoDB is a **document**, which is a data structure composed of field and value pairs. MongoDB documents are similar to JSON objects or Python dictionaries. The values of fields may include other documents, arrays, and arrays of documents.

This is an example of a document:
```JSON
{
   "_id" : ObjectId("54c955492b7c8eb21818bd09"),
   "address" : {
      "street" : "2 Avenue",
      "zipcode" : "10075",
      "building" : "1480",
      "coord" : [ -73.9557413, 40.7720266 ]
   },
   "borough" : "Manhattan",
   "cuisine" : "Italian",
   "grades" : [
      {
         "date" : ISODate("2014-10-01T00:00:00Z"),
         "grade" : "A",
         "score" : 11
      },
      {
         "date" : ISODate("2014-01-16T00:00:00Z"),
         "grade" : "B",
         "score" : 17
      }
   ],
   "name" : "Vella",
   "restaurant_id" : "41704620"
}
```
In MongoDB, documents have a unique **_id** field that acts as a primary key. MongoDB automatically adds a unique _id to each document if you are not providing it by yourself.

MongoDB stores documents in **collections**. Collections are analogous to tables in relational databases. Unlike a table, however, a collection does not require its documents to have the same schema.

You can start a Docker image with MongoDB like this:
```bash
docker run -p 27017:27017 -d mongo
```

In production you really (!) would need to enable authentication with username and password, but for development purposes this is fine.

In [56]:
# Install the pymongo Python Package 
#pip install pymongo
#pip3 install mongodb
#conda install -c anaconda mongodb

In [41]:
#pip install pymongo

Collecting pymongo
  Downloading pymongo-3.11.4-cp37-cp37m-win_amd64.whl (382 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.11.4
Note: you may need to restart the kernel to use updated packages.

In [58]:
from pymongo import MongoClient
from pprint import pprint
import requests
import json

Use MongoClient to create a connection. If you do not specify any arguments to MongoClient, then MongoClient defaults to the MongoDB instance that runs on the localhost interface on port 27017. You can also specify a complete MongoDB URI to define the connection, including explicitly specifying the host and port number. For example, the following creates a connection to a MongoDB instance that runs on mongodb0.example.net and the port of 27017: client = MongoClient("mongodb://mongodb0.example.net:27017")

In [43]:
# Client connects to "localhost" by default 
client = MongoClient()

The first fundamental class of objects you will interact with using pymongo is Database which represents the database construct in MongoDB. Databases hold groups of logically related collections. MongoDB creates new databases implicitly upon their first use. Connect (create) with a database of your name, e.g. 

```python
db = client["rolandmueller"]
``` 
or 

```python
db = client.rolandmueller
```

In [44]:
# Create local "bipm" database on the fly 
db = client['bipm']

In [68]:
# When we rerun the whole notebook, we start from scratch 
# by dropping the colection "courses"
db.courses.drop()

In [69]:
# Create a Python Dictonary
courses = [
    {'title': 'Data Science',
     'lecturer': {
         'name': 'Markus Löcher',
         'department': 'Math',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Data Warehousing',
     'lecturer': {
         'name': 'Roland M. Mueller',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Business Process Management',
     'lecturer': {
         'name': 'Frank Habermann',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Stratigic Issues of IT',
     'lecturer': {
         'name': 'Sven Pohland',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Text, Web and Social Media Analytics Lab',
     'lecturer': {
         'name': 'Markus Löcher',
         'department': 'Math',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'Enterprise Architectures for Big Data',
     'lecturer': {
         'name': 'Roland M. Mueller',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'Business Process Integration Lab',
     'lecturer': {
         'name': 'Frank Habermann',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'IT-Security and Privacy',
     'lecturer': {
         'name': 'Dennis Uckel',
         'department': 'Information Systems',
         'status': 'External'
     },
     'semester': 2},
    {'title': 'Research Methods',
     'lecturer': {
         'name': 'Marcus Birkenkrahe',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
]

In [70]:
pprint(courses)

[{'lecturer': {'department': 'Math',
               'name': 'Markus Löcher',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Data Science'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Roland M. Mueller',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Data Warehousing'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Frank Habermann',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Business Process Management'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Sven Pohland',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Stratigic Issues of IT'},
 {'lecturer': {'department': 'Math',
               'name': 'Markus Löcher',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Text, Web and Social Media Analytics Lab'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Roland M. Mueller',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Enterprise Architectures for Big Data'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Frank Habermann',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Business Process Integration Lab'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Dennis Uckel',
               'status': 'External'},
  'semester': 2,
  'title': 'IT-Security and Privacy'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Marcus Birkenkrahe',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Research Methods'}]

## insert_many()

You can use the `insert_one()` method and the `insert_many()` method to add documents to a collection in MongoDB. If you attempt to add documents to a collection that does not exist, MongoDB will create the collection for you.

In [71]:
db.courses.insert_many(courses)

## find()

You can use the find() method to issue a query to retrieve data from a collection in MongoDB. All queries in MongoDB have the scope of a single collection.
Queries can return all documents in a collection or only the documents that match a specified filter or criteria. You can specify the filter or criteria in a document and pass as a parameter to the find() method. With no parameter, find() returns all documents in the collection.

The find() method returns query results in a cursor, which is an iterable object that yields documents. Then you can print all documents.

```python
cursor = db.my_collection.find()

for document in cursor:
    pprint(document)
```

In [72]:
# TODO: Print all courses
cursor = db.courses.find()

for document in cursor:
    pprint(document['title'])

'Data Science'
'Data Warehousing'
'Business Process Management'
'Stratigic Issues of IT'
'Text, Web and Social Media Analytics Lab'
'Enterprise Architectures for Big Data'
'Business Process Integration Lab'
'IT-Security and Privacy'
'Research Methods'

## JSON

You can store a JSON document if you convert it before to a Python dictionary:

In [73]:
my_json = '{"title": "Master Thesis", "semester": 3}'
another_course = json.loads(my_json)
another_course

{'title': 'Master Thesis', 'semester': 3}

## insert_one()

The `insert_one()` method adds the document into the collection.

In [74]:
# TODO: Store `another_course` as another course:
db.courses.insert_one(another_course)

In [75]:
# TODO: Print all courses
cursor = db.courses.find()

for document in cursor:
    pprint(document['title'])

'Data Science'
'Data Warehousing'
'Business Process Management'
'Stratigic Issues of IT'
'Text, Web and Social Media Analytics Lab'
'Enterprise Architectures for Big Data'
'Business Process Integration Lab'
'IT-Security and Privacy'
'Research Methods'
'Master Thesis'

## find_one() and find()

`find_one()` returns the first match. ```find()```returns all matches.

The query condition for `find_one()` and `find()` for an equality match on fields has the following form:
```python
{ <field1>: <value1>, <field2>: <value2>, ... } 
```

The following operation finds the first documents whose name field equals "Manhattan".

```python
cursor = db.restaurants.find_one({"name": "Manhattan"})
```

In [90]:
# TODO: Find the course with the title "Data Science" 
# save the result in a varibale result
# and pprint the result.

result = db.courses.find_one({"title": "Data Science"})

print(result)

{'_id': ObjectId('609e5df402e7a5e68b0a62a2'), 'title': 'Data Science', 'lecturer': {'name': 'Markus Löcher', 'department': 'Math', 'status': 'Professor'}, 'semester': 1}

In [91]:
print(result["_id"])
print(result["lecturer"]["name"])

609e5df402e7a5e68b0a62a2
Markus Löcher

In [99]:
# TODO: Find the first course (one course) in the second semester
# and print it

result2 = db.courses.find_one({"semester": 2})
print(result2)

{'_id': ObjectId('609e5df402e7a5e68b0a62a6'), 'title': 'Text, Web and Social Media Analytics Lab', 'lecturer': {'name': 'Markus Löcher', 'department': 'Math', 'status': 'Professor'}, 'semester': 2}

In [97]:
# TODO: Find all courses in the second semester
# and print the course titles

result3 = db.courses.find({"semester": 2})

for document in result3:
    pprint(document['title'])

'Text, Web and Social Media Analytics Lab'
'Enterprise Architectures for Big Data'
'Business Process Integration Lab'
'IT-Security and Privacy'
'Research Methods'

In [102]:
# TODO: Find all courses in the second semester
# and print the lecturers names

result4 = db.courses.find({"semester": 2})

for document in result4:
    pprint(document['lecturer']['name'])

'Markus Löcher'
'Roland M. Mueller'
'Frank Habermann'
'Dennis Uckel'
'Marcus Birkenkrahe'

## Subelements

Sometimes documents contains embedded documents as its elements. To specify a condition on a field in these documents, use the dot notation. Dot notation requires quotes around the whole dotted field name. The following queries for documents whose grades array contains an embedded document with a field grade equal to "B".

```python
cursor = db.restaurants.find({"grades.grade": "B"})
```

In [114]:
# TODO: Find all courses of Frank Habermann
# and print the title and the semester

result5 = db.courses.find({"lecturer.name": "Frank Habermann"})

for document in result5:
    pprint('Title: ' + document['title'] + ';' + ' Semester: ' + str(document['semester']))

'Title: Business Process Management; Semester: 1'
'Title: Business Process Integration Lab; Semester: 2'

## Logical AND

You can specify a logical conjunction (AND) for a list of query conditions by separating the conditions with a comma in the conditions document.

```python
cursor = db.restaurants.find({"cuisine": "Italian", "address.zipcode": "10075"})
```

In [115]:
# TODO: Find all courses from Frank Habermann in the second semester
# and print the title and the semester

result6 = db.courses.find({"lecturer.name": "Frank Habermann", "semester": 2})

for document in result6:
    pprint('Title: ' + document['title'] + ';' + ' Semester: ' + str(document['semester']))

'Title: Business Process Integration Lab; Semester: 2'

## Logical OR

You can specify a logical disjunction (OR) for a list of query conditions by using the $or query operator.

```python
cursor = db.restaurants.find({"$or": [{"cuisine": "Italian"}, {"address.zipcode": "10075"}]})
```

In [116]:
# TODO: Find all courses from Frank Habermann or Markus Löcher
# and print the title and the semester

result7 = db.courses.find({"$or": [{"lecturer.name": "Frank Habermann"}, {"lecturer.name": "Markus Löcher"}]})

for document in result7:
    pprint('Title: ' + document['title'] + ';' + ' Semester: ' + str(document['semester']))

'Title: Data Science; Semester: 1'
'Title: Business Process Management; Semester: 1'
'Title: Text, Web and Social Media Analytics Lab; Semester: 2'
'Title: Business Process Integration Lab; Semester: 2'

## Greater than, Less than

MongoDB provides operators to specify query conditions, such as comparison operators. Query conditions using operators generally have the following form:
```python
{ <field1>: { <operator1>: <value1> } }
```

Greater Than Operator (`$gt`). Query for documents whose grades array contains an embedded document with a field score greater than 30.

```python
cursor = db.restaurants.find({"grades.score": {"$gt": 30}})
```

Less Than Operator (`$lt`). Query for documents whose grades array contains an embedded document with a field score less than 10.

```python
cursor = db.restaurants.find({"grades.score": {"$lt": 10}})
```

In [117]:
# TODO: Find all courses in semester greater than 1
# and print the title and the semester

result8 = db.courses.find({"semester": {"$gt": 1}})

for document in result8:
    pprint('Title: ' + document['title'] + ';' + ' Semester: ' + str(document['semester']))

'Title: Text, Web and Social Media Analytics Lab; Semester: 2'
'Title: Enterprise Architectures for Big Data; Semester: 2'
'Title: Business Process Integration Lab; Semester: 2'
'Title: IT-Security and Privacy; Semester: 2'
'Title: Research Methods; Semester: 2'
'Title: Master Thesis; Semester: 3'

## Counting

`count_documents()` works like `find()` but returns the number of matched documents-

In [118]:
# TODO: How many courses are in the second semester?

result9 = db.courses.count_documents({"semester": 2})

print(result9)

5

# Downloading Nobel Prize Winners with an API and storing them in MongoDB

![](https://upload.wikimedia.org/wikipedia/en/e/ed/Nobel_Prize.png)
The Nobel Prize offers a Web API https://nobelprize.readme.io/docs/prize

Because the API is giving us JSON and MongoDB is able to store documents in a JSON-like format, using a document database like MongoDB seems like a good fit to store the results of the API.  You can get all laureates at http://api.nobelprize.org/v1/laureate.json and all prizes at http://api.nobelprize.org/v1/prize.json

We will just download all laureates and prizes and store them in MongoDB!

In [119]:
# Create local "nobel" database on the fly 
db = client["nobel"]
db.prizes.drop()
db.laureates.drop()
# API documented at https://nobelprize.readme.io/docs/prize 
for collection_name in ["prizes", "laureates"]:
    singular = collection_name[:-1] # the API uses singular
    response = requests.get( "http://api.nobelprize.org/v1/{}.json".format(singular)) 
    documents = response.json()[collection_name] 
    # Create collections on the fly 
    db[collection_name].insert_many(documents)

In [120]:
pprint(db.laureates.find_one())

{'_id': ObjectId('609e63bb02e7a5e68b0a6538'),
 'born': '1845-03-27',
 'bornCity': 'Lennep (now Remscheid)',
 'bornCountry': 'Prussia (now Germany)',
 'bornCountryCode': 'DE',
 'died': '1923-02-10',
 'diedCity': 'Munich',
 'diedCountry': 'Germany',
 'diedCountryCode': 'DE',
 'firstname': 'Wilhelm Conrad',
 'gender': 'male',
 'id': '1',
 'prizes': [{'affiliations': [{'city': 'Munich',
                               'country': 'Germany',
                               'name': 'Munich University'}],
             'category': 'physics',
             'motivation': '"in recognition of the extraordinary services he '
                           'has rendered by the discovery of the remarkable '
                           'rays subsequently named after him"',
             'share': '1',
             'year': '1901'}],
 'surname': 'Röntgen'}

In [137]:
# TODO: Print the first name of the first document

result10 = db.laureates.find_one()

print(result10['firstname'] + " " + result10['surname'])

Wilhelm Conrad Röntgen

With `count_documents` you can count the number of matching documents.

In [124]:
# How many female laureates exists?

result11 = db.laureates.count_documents({"gender": 'female'})

print(result11)

57

With the `$regex` function you can use a regular expression. `distinct` list only all distinct entries.

In [125]:
db.laureates.distinct("bornCountry", {"bornCountry": {"$regex": "Germany"}})

['Bavaria (now Germany)',
 'East Friesland (now Germany)',
 'Germany',
 'Germany (now France)',
 'Germany (now Poland)',
 'Germany (now Russia)',
 'Hesse-Kassel (now Germany)',
 'Mecklenburg (now Germany)',
 'Prussia (now Germany)',
 'Schleswig (now Germany)',
 'West Germany (now Germany)',
 'Württemberg (now Germany)']

In [129]:
# TODO: How many laureates are from Germany?

result12 = db.laureates.count_documents({"bornCountry": {"$regex": "Germany"}})

print(result12)

95

In [196]:
# TODO: Find all physics nobel laureates that are from Germany
# print the year of the first prize, the first name, and surename
result13 = db.laureates.find({'prizes.category': 'physics', "bornCountry": {"$regex": "Germany"}})

for document in result13:
    #year = document['prizes']['year']
    pprint('Year of first price: ' + document['prizes'][0]['year']  + ';' + ' Name: ' + document['firstname'] + " " + document['surname'])

'Year of first price: 1901; Name: Wilhelm Conrad Röntgen'
'Year of first price: 1909; Name: Ferdinand Braun'
'Year of first price: 1914; Name: Max von Laue'
'Year of first price: 1918; Name: Max Planck'
'Year of first price: 1919; Name: Johannes Stark'
'Year of first price: 1921; Name: Albert Einstein'
'Year of first price: 1925; Name: James Franck'
'Year of first price: 1925; Name: Gustav Hertz'
'Year of first price: 1932; Name: Werner Heisenberg'
'Year of first price: 1943; Name: Otto Stern'
'Year of first price: 1954; Name: Max Born'
'Year of first price: 1954; Name: Walther Bothe'
'Year of first price: 1955; Name: Polykarp Kusch'
'Year of first price: 1961; Name: Rudolf Mössbauer'
'Year of first price: 1963; Name: Maria Goeppert Mayer'
'Year of first price: 1963; Name: J. Hans D. Jensen'
'Year of first price: 1966; Name: Alfred Kastler'
'Year of first price: 1967; Name: Hans Bethe'
'Year of first price: 1978; Name: Arno Penzias'
'Year of first price: 1986; Name: Ernst Ruska'
'Year of first price: 1986; Name: Gerd Binnig'
'Year of first price: 1987; Name: J. Georg Bednorz'
'Year of first price: 1988; Name: Jack Steinberger'
'Year of first price: 1989; Name: Hans G. Dehmelt'
'Year of first price: 1989; Name: Wolfgang Paul'
'Year of first price: 1998; Name: Horst L. Störmer'
'Year of first price: 2000; Name: Herbert Kroemer'
'Year of first price: 2001; Name: Wolfgang Ketterle'
'Year of first price: 2005; Name: Theodor W. Hänsch'
'Year of first price: 2017; Name: Rainer Weiss'
'Year of first price: 2020; Name: Reinhard Genzel'

In [186]:
# TODO: find and print the document for "Malala" (firstname)

result14 = db.laureates.find({"firstname": 'Malala'})

for document in result14:
    pprint(document)

{'_id': ObjectId('609e63bb02e7a5e68b0a68a8'),
 'born': '1997-07-12',
 'bornCity': 'Mingora',
 'bornCountry': 'Pakistan',
 'bornCountryCode': 'PK',
 'died': '0000-00-00',
 'firstname': 'Malala',
 'gender': 'female',
 'id': '914',
 'prizes': [{'affiliations': [[]],
             'category': 'peace',
             'motivation': '"for their struggle against the suppression of '
                           'children and young people and for the right of all '
                           'children to education"',
             'share': '2',
             'year': '2014'}],
 'surname': 'Yousafzai'}

## Sort()

With `sort()` you can sort the list of documents. The parameter of sort is a list of sorting tuples. Each tuple is a value and an integer value 1 or -1 which states whether the collection to be sorted in ascending (1) or descending (-1) order.

Sort all restaurants according to the grade in ascending order.
```python
cursor = db.restaurants.find().sort([("grades.grade", 1)])
```

In [203]:
# TODO: Find only female nobel laureates 
# and sort them according the the prize year in ascending order
# print year of the first prize, firstname, and surename

result15 = db.laureates.find({"gender": 'female'}).sort([("prizes.year", 1)])

for document in result15:
    if 'surname' in document:
        pprint('Year of first price: ' + document['prizes'][0]['year']  + '; ' + document['firstname'] + " " + document['surname'])
    else:
        pprint('Year of first price: ' + document['prizes'][0]['year']  + '; ' + document['firstname'])

'Year of first price: 1903; Marie Curie'
'Year of first price: 1905; Bertha von Suttner'
'Year of first price: 1909; Selma Lagerlöf'
'Year of first price: 1926; Grazia Deledda'
'Year of first price: 1928; Sigrid Undset'
'Year of first price: 1931; Jane Addams'
'Year of first price: 1935; Irène Joliot-Curie'
'Year of first price: 1938; Pearl Buck'
'Year of first price: 1945; Gabriela Mistral'
'Year of first price: 1946; Emily Greene Balch'
'Year of first price: 1947; Gerty Cori'
'Year of first price: 1963; Maria Goeppert Mayer'
'Year of first price: 1964; Dorothy Crowfoot Hodgkin'
'Year of first price: 1966; Nelly Sachs'
'Year of first price: 1976; Betty Williams'
'Year of first price: 1976; Mairead Corrigan'
'Year of first price: 1977; Rosalyn Yalow'
'Year of first price: 1979; Anjezë Gonxhe Bojaxhiu'
'Year of first price: 1982; Alva Myrdal'
'Year of first price: 1983; Barbara McClintock'
'Year of first price: 1986; Rita Levi-Montalcini'
'Year of first price: 1988; Gertrude B. Elion'
'Year of first price: 1991; Aung San Suu Kyi'
'Year of first price: 1991; Nadine Gordimer'
'Year of first price: 1992; Rigoberta Menchú Tum'
'Year of first price: 1993; Toni Morrison'
'Year of first price: 1995; Christiane Nüsslein-Volhard'
'Year of first price: 1996; Wislawa Szymborska'
'Year of first price: 1997; Jody Williams'
'Year of first price: 2003; Shirin Ebadi'
'Year of first price: 2004; Linda B. Buck'
'Year of first price: 2004; Elfriede Jelinek'
'Year of first price: 2004; Wangari Maathai'
'Year of first price: 2007; Doris Lessing'
'Year of first price: 2008; Françoise Barré-Sinoussi'
'Year of first price: 2009; Elizabeth H. Blackburn'
'Year of first price: 2009; Carol W. Greider'
'Year of first price: 2009; Ada E. Yonath'
'Year of first price: 2009; Herta Müller'
'Year of first price: 2009; Elinor Ostrom'
'Year of first price: 2011; Ellen Johnson Sirleaf'
'Year of first price: 2011; Leymah Gbowee'
'Year of first price: 2011; Tawakkol Karman'
'Year of first price: 2013; Alice Munro'
'Year of first price: 2014; May-Britt Moser'
'Year of first price: 2014; Malala Yousafzai'
'Year of first price: 2015; Youyou Tu'
'Year of first price: 2015; Svetlana Alexievich'
'Year of first price: 2018; Donna Strickland'
'Year of first price: 2018; Frances H. Arnold'
'Year of first price: 2018; Nadia Murad'
'Year of first price: 2018; Olga Tokarczuk'
'Year of first price: 2019; Esther Duflo'
'Year of first price: 2020; Andrea Ghez'
'Year of first price: 2020; Emmanuelle Charpentier'
'Year of first price: 2020; Jennifer A. Doudna'
'Year of first price: 2020; Louise Glück'